@charset "UTF-8";

nav, header{
    flex-flow: column nowrap;
}

header h1{
    flex-basis: 50px;

}

#navbar{
    display: none;
}

#navbar a{
    width: 90vw;
}



#btn-menu{
    display: block;
    background-color: rgb(66, 66, 66);
    padding: 10px;
    width: 90vw;
    border-radius: 5px;
    cursor: pointer;
}

#btn-menu:hover{
    background-color: rgb(104, 104, 104);
}
