@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    color: white;
    padding: 10px;
}

header h1{
    flex: 0 0 200px;
    text-shadow: 0px 0px 12px 8px rgba(0,0,0,0.2);
}

nav{
    display: flex;
}

nav a {
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

nav a:hover{
    background-color: white;
    color: black;
    transition: background-color 0.4s, color 0.4s;
}

main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.2);
}
