@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: #f0f0f0;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1{
    padding: 10px;
    text-align: center;
}

#burguer{
    display: block;
    padding: 10px;
    color: white;
    background-color: #252525;
    text-align: center;
}

#burguer:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

menu{
    display: none;
}

menu ul{
    list-style-type: none;
}



menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #464545;
    color: white;
    border-top: 2px solid #333;
    border-radius: 5px;
}

menu a:hover{
    background-color: #5f5f5f;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
}

article h2{
    padding-bottom: 20px;
}

article p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}