@charset "UTF-8";
@font-face {
        font-family:'idroid' ;
        src: url('fontes/idroid.otf') format(opentype);
    }
header{
    text-align: center;
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: -8px; 
    background-image: linear-gradient(green, rgba(0, 173, 0, 0.603), rgba(30, 247, 1, 0.658));   
}  
h1{
    font-family: Arial, Helvetica, sans-serif;
}

li{
    margin-right: 10px;   
}
ul{
    text-align: left;
    list-style-type: none;
    display: flex;
    
}
a{
    text-decoration: none;
    color: white;
}
span{
    color: rgb(98, 226, 98);
}
body{
    background-color: #84e1ad;
}
main#primeiro{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px 30px 10px 30px;
    width: 1000px;
    margin: auto;
    margin-top: 9px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.466);
}
h1#titulo{  
    font-family: 'idroid', sans-serif;
    color: #23633f;
    background-image: linear-gradient(to right ,#c5ebd6, #d2dfd8, white);
}
h2{
    font-family: 'idroid', sans-serif;
    color: #23633f;
    background-image: linear-gradient(to right ,#c5ebd6, #d2dfd8, white);
}
img#rosto{
    display: block;
    margin: auto;
    width: 1000px;
    height: 310px;
}
img#mascote{
    display: flex;
    margin: auto;
    width: 1000px;
    height: 300px;
}
img#android{
    display: auto;
    margin: auto;
    
}
main#video{
    background-color: #1a5c38;
    width: 100%;
    height: 500px;
    display: flex
    
}

iframe{
    display: flex;
    margin: auto;
}
main#secundario{
    background-color: #c5ebd6;
    border-radius: 0px 0px 10px 10px;
    padding: 0px 0px 2px 14px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.466);
    display: auto;
}
p#aprender{
    background-color: #2fa866;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 12px 6px 10px 12px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -16px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.466);
}
footer{
    background-color: #1a5c38;
    color: white;
    padding: 1px;
    margin-bottom: -16px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 18px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}