@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tenor+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-variada: "Poppins", sans-serif;
    --fonte-especial: "Passion One", sans-serif;
}

html, body{
    font-family: var(--fonte-padrao);
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-especial);
    font-size: 7rem;
}

header p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 4rem;
    padding-left: 50px;
    font-family: var(--fonte-variada);
    font-size: 1.7rem
}

@media screen and (max-width: 1000px){
    section{
        font-size: 1.5rem; 
        line-height: 3rem;
    }

    header h1{
        font-size: 4rem;  
    }
}


.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
}

.imagem p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.534);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}