#content{
    background-color: black;
    text-align: center;
    width: 300px;
}

#content img{
    width: 200px;
}

#content1{
    display: flex;
    justify-content: center;
    align-items: center;
}