@charset "UTF-8";

body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
h1{
    color: goldenrod;
}
h2{
    color: rgb(124, 109, 26);
}
button{
    background-color: yellow;
    
}