@charset "UTF-8";

div{
    display: inline-block;
    border: 1px solid black;
    background-color: gray;
    text-align: center;
    height: 200px;
    width: 200px;
}

div:hover{
    background-color: red;
}
