@charset "UTF-8";
 @font-face {
    font-family:'love' ;
    src: url('fonts/love story ttf.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
 }
 @font-face {
    font-family:'valorant';
    src: url('/fonts/ValorantFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
    /*Tipos de format
        - opentype(otf)
        - truetype (ttf)
        - embedded-opentype
        - truetype-aat (Apple Advanced Typography)
        - svg 
    */
 
body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'love', Times, serif;
    font-size: 3em;
}